<aside>
  <img alt="Scrabble gameboard with all the tiles spelling out names of energy sources" src="/images/home.jpeg">
</aside>

<article>
  <p>Scrabble is a great game you can play with your friends and probably make them mad at you because no, that's not a word, stop pretending it is!</p>
  <p>It's also great because every time you talk about the game, your mom will rub it in her face that she won that one time, and that she's surprised you're "so terrible" at Scrabble when you're so much more educated than her!</p>
</article>
