<!DOCTYPE html>
<html>
  <head>
    <title>Scrabble</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
  </head>
  <body>
    <header>
      <h1>Scrabble</h1>
      <nav class="topnav">
        <a href="/">Home</a>
        <a href="/score">Score</a>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      &copy;2016 Valerie Conklin
    </footer>

  </body>
</html>
