<img alt="A rack of Scrabble tiles spelling the word 'content'" src="/images/score-many.jpeg">

<article>
  <!-- make this a legend for a fieldset -->
  <h2>Multiple-Words Score</h2>

  <!-- so that it won't show '0' on the first page load -->
  <% unless @my_score_pairs == nil%>
    <ul>
    <% @my_score_pairs.each do |word, score| %>
      <li><%= word %> : <span class="your-score"><%= score %></span></li>
    <% end %>
    </ul>
  <% end %>

  <fieldset>
    <legend>Calculate your score!</legend>
    <form action="" method="post" accept-charset="utf-8">
      <p class="instructions">Enter your words, separated by spaces.</p>
      <label for="word">Words</label>
      <textarea rows="4" cols="50" name="given_words"></textarea>
      <input type="submit" value="Submit">
    </form>
  </fieldset>

  <p class="instructions"><a href="/score">&laquo; Single Word Score</a></p>
</article>
