<img alt="A rack of Scrabble tiles spelling the word 'content'" src="/images/score-many.jpeg">

<article>
  <!-- make this a legend for a fieldset -->
  <h2>Multiple-Word Score Calculator</h2>
  <div class="params">
    <%= params %>
  </div>

  <!-- so that it won't show '0' on the first page load -->
  <% unless @my_score == 0%>
    <p>Your score is <span class="your-score"><%= @my_score %></span>!</p>
  <% end %>

  <fieldset>
    <legend>Calculate your score!</legend>
    <form action="" method="post" accept-charset="utf-8">
      <p class="instructions">Enter your words, separated by spaces.</p>
      <label for="word">Words</label>
      <textarea rows="4" cols="50" name="given_words"></textarea>
      <input type="submit" value="Submit">
    </form>
  </fieldset>
</article>
