<img alt="A pile of random Scrabble tiles" src="/images/score.jpeg">

<article>
  <!-- make this a legend for a fieldset -->
  <h2>Score Calculator</h2>

  <!-- so that it won't show '0' on the first page load -->
  <% unless @my_score == 0%>
    <p>Your score is <span class="your-score"><%= @my_score %></span>!</p>
  <% end %>

  <fieldset>
    <legend>Calculate your score!</legend>
    <form action="" method="post" accept-charset="utf-8">
      <label for="word">Word</label>
      <input type="text" name="given_word" value="" id="word">
      <input type="submit" value="Submit">
    </form>
  </fieldset>

  <p class="instructions">Want to score more than one word? <a href="/score-many">Click here!</a></p>
</article>
