<div class="params">
  <%= params %>
</div>

<form action="" method="post" accept-charset="utf-8">
  <label for="word">Word</label>
  <input type="text" name="given_word" value="" id="word">
  <input type="submit" value="Submit">
</form>
