* {
  box-sizing: border-box;
}


body {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: beige;
  color: #333333;
}

header {
  background-color: #333333;
  padding: 1.5rem;
}

header a {
  color: beige;
}

header a:hover {
  color: #dddd88;
}

header a:visited {
  color: #c6c639;
}

.topnav {
  float: right;
  font-size: 2rem;
}

.topnav a {
  padding: 1rem;
}

h1 {
  /*so that it doesn't have a line-break before and after it, so topnav positions itself above it in the top right*/
  display: inline-block;
  font-size: 5rem;
  color: white;
}

h2 {
  font-size: 2rem;
}

main {
  margin: 3rem auto;
  padding: 0 0 0 0;
  width: 65%;
}

main img {
  margin: 0 0 0 0;
  width: 49%;
  border-radius: 5%;
}

main article {
  display: inline-block;
  margin: 0 0 0 0;
  /* float: left; */
  /* height: 100%; */
  width: 49%;
  text-align: justify;
  padding: 1rem 1rem 0 1rem;
  vertical-align: top;
}

footer {
  clear: both;
  margin: 2rem auto;
  width: 30%;
  text-align: center;
}

.your-score {
  font-size: 2rem;
  color: blue;
}

.instructions {
  font-size: 1.25rem;
  font-weight: bold;
}

.instructions a {
  text-decoration: none;
}
